<div class="min-h-screen w-full flex justify-center items-center p-4 main">
<section class="hero-section">
    <div class="container">
      <div class="grid-container">
        <div class="text-container">
          <div class="text-content">
            <h1 class="hero-title">L'Institut de Recherche en Énergie Solaire et Énergies Nouvelles</h1>
            <p class="hero-description">Créé en 2011, IRESEN accompagne la stratégie énergétique nationale à travers la recherche appliquée orientée marché ainsi que l’innovation dans le domaine des technologies vertes.</p>
          </div>
        </div>
        <img src="assets/Images/menergy.jpeg" alt="Hero" class="hero-image">
      </div>
    </div>
  </section>
  </div>