<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="home-container flex-grow-1 p-3">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <h2>Projects</h2>
                    <ul class="list-group">
                        <li *ngFor="let project of projects" class="list-group-item" (click)="selectProject(project)"
                            [class.active]="project === selectedProject">
                            {{ project.name }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" *ngIf="selectedProject">
                    <h2>Submissions for {{ selectedProject.name }}</h2>
                    <div *ngFor="let submission of submissions" class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ submission.user.firstname }} {{ submission.user.lastname }}</h5>
                            <p class="card-text">Submission Date: {{ submission.submissionDate | date }}</p>
                            <p class="card-text">Step Values:</p>
                            <ul>
                                <li *ngFor="let stepValue of submission.stepValues">
                                    <strong>{{ stepValue.name }}</strong>
                                    <ul>
                                        <li *ngFor="let field of stepValue.fields">
                                            {{ field.name }} ({{ field.type }}): {{ field.value }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p class="card-text d-flex align-items-center">
                                <i *ngIf="isSubmissionEvaluatedByUser(submission)"
                                    class="fas fa-check-circle text-success me-2"></i>
                                <i *ngIf="!isSubmissionEvaluatedByUser(submission)"
                                    class="fas fa-times-circle text-danger me-2"></i>
                                <span>{{ isSubmissionEvaluatedByUser(submission) ? 'Evaluated' : 'Not Evaluated'
                                    }}</span>
                            </p>
                            <p class="card-text">Global Note: {{ isSubmissionEvaluatedByUser(submission) ?
                                submission.globalNote : 'Not given yet' }}</p>
                            <button class="btn btn-primary" (click)="evaluateSubmission(submission)"
                                [disabled]="isSubmissionEvaluatedByUser(submission)">Evaluate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedSubmission && evaluation" class="card mt-5">
                <div class="card-header">
                    <h5>Evaluate Submission</h5>
                </div>
                <div class="card-body">
                    <h3>{{ selectedSubmission.user.firstname }} {{ selectedSubmission.user.lastname }}</h3>
                    <div class="mb-3" *ngFor="let criterion of evaluationNote.criteriaNotes">
                        <label for="{{criterion.criterionName}}">{{ criterion.criterionName }}</label>
                        <input type="number" id="{{criterion.criterionName}}" class="form-control"
                            [(ngModel)]="criterion.note" [max]="criterion.baseDeNotation">
                        <input type="number" class="form-control mt-2" [value]="criterion.baseDeNotation" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="globalNote">Global Note</label>
                        <input type="number" id="globalNote" class="form-control" [value]="calculateGlobalNote()"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="comments">Comments</label>
                        <textarea id="comments" class="form-control" rows="3"
                            [(ngModel)]="evaluationNote.comments"></textarea>
                    </div>
                    <button class="btn btn-primary" (click)="saveEvaluation()">Save Evaluation</button>
                </div>
            </div>
        </div>
    </div>
</div>