<div class="login-container">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form (ngSubmit)="onSubmitSignup()" #signupForm="ngForm">
                <h1>Créer un compte</h1>
                <input type="text" placeholder="Nom" class="rounded-input" [(ngModel)]="lastname" name="lastname" required />
                <input type="text" placeholder="Prénom" class="rounded-input" [(ngModel)]="firstname" name="firstname" required />
                <input type="text" placeholder="Phone" class="rounded-input" [(ngModel)]="phone" name="phone" required />
                <input type="password" placeholder="Mot de passe" class="rounded-input" [(ngModel)]="password" name="password" required />
            </form>
        </div>
        <div class="form-container sign-in-container">
                <h1>Se connecter</h1>
                <input type="password" placeholder="Mot de passe" class="rounded-input" [(ngModel)]="signinPassword" name="signinPassword" required />
                <a href="#">Vous avez oublié votre mot de passe ?</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenue à nouveau !</h1>
                    <p>Pour rester en contact avec nous, veuillez vous connecter avec vos informations personnelles.</p>
                    <button class="ghost" id="signIn">Se connecter</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bienvenue</h1>
                    <p>Saisissez vos données personnelles et commencez à voyager avec nous</p>
                    <button class="ghost" id="signUp">Créer un compte</button>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="emailError" id="emailErrorAlert" class="alert alert-danger alert-bottom" role="alert">
        <h4 class="alert-heading">Il y a une erreur</h4>
        <p>Cet email existe déjà dans notre base de données</p>
        <hr>
        <p class="mb-0">Choisissez un autre email si vous voulez vous inscrire</p>
    </div>
</div>
