<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': modalOpen}" style="display: block;" *ngIf="modalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Créer un nouveau formulaire d'évaluation</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-formulaire></app-formulaire>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="submitForm()">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
  