<app-header-info></app-header-info>
<app-navbar></app-navbar>
<section class="hero" style="background-image: url('assets/Images/greenboostr.jpg');">
    <div class="blue-overlay"></div>
    <div class="overlay">
        <h1 class="display-4 text-center text-white">{{ project?.name }}</h1>
        <div class="caption-overlay text-center text-white">
            <p class="lead">Lancement : {{ project?.publicationDate | date }}<br>Clôture : {{ project?.closingDate |
                date }}</p>
        </div>
    </div>
</section>

<section class="content py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <img [src]="getPhotoUrl()" class="img-fluid rounded shadow-sm" alt="Project Photo">
            </div>
            <div class="col-md-8">
                <div class="text-box p-4 shadow">
                    <p>{{ project?.description }}</p>

                    <a [href]="getDocumentUrl()" class="btn btn-primary mx-2 small-btn" download>Télécharger le cahier
                        des charges</a>
                    <button (click)="navigateToEvaluationForm()"
                        class="btn btn-success mx-2 small-btn">Postuler</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<app-footer></app-footer>