.btn-primary {
    background: linear-gradient(to bottom, #257cda, #292E95);
    color: white;
}

.btn-primary:hover {
    background: linear-gradient(to bottom, #292E95, #257cda);
}
.btn-success {
    background: linear-gradient(to bottom, #8dd2b1, #12803e);
    color: white;
}

.btn-success:hover {
    background: linear-gradient(to bottom, #12803e, #8dd2b1);
}

.content .text-box {
    background-color: #e3f2fd;
    border: 2px dashed #004d40; /* Bordure vert foncé en pointillés */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}