<section class="hero" style="background-image: url('assets/Images/greenboostr.jpg');">
    <div class="blue-overlay"></div>
     <div class="overlay"> 
        <h1 class="display-4 text-center text-white">Green INNOBOOST 2.0</h1>
        <div class="caption-overlay text-center text-white">
            <p class="lead">Programme d'accélération des projets innovants dans le domaine des technologies vertes et soutien à l'industrialisation.</p>
            <p class="lead">Lancement : 09/01/2024 00:00:00<br>Clôture : 15/02/2025 16:53:03</p>
        </div>
    </div>
</section>

<section class="content py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="assets/Images/greenaffich.png" class="img-fluid rounded shadow-sm" alt="Green INNOBOOST Affiche">
            </div>
            <div class="col-md-8">
                <div class="text-box p-4 shadow">
                    <p>Green INNOBOOST 2.0 a pour objectif d’accompagner des équipes de chercheurs, entrepreneurs ou industriels pour la mise sur le marché de leurs innovations vertes à fort potentiel d’impact environnemental et socio-économique.</p>
                    <p>Le programme propose aux porteurs de projets un accompagnement technologique ainsi qu’un soutien pour l’industrialisation et la mise sur le marché de leur innovation.</p>
                    <p>Le programme s'adresse aux porteurs de projets qui disposent un prototype ou une preuve de concept ayant un niveau de TRL (Technology Readiness Level) supérieur ou égal à 6 avec un impact environnemental et socio-économique.</p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check-circle text-success"></i> Accompagnement technologique</li>
                        <li><i class="fas fa-check-circle text-success"></i> Mise sur le marché</li>
                        <li><i class="fas fa-check-circle text-success"></i> Financement jusqu'à 1.5 MMAD par projet</li>
                        <li><i class="fas fa-check-circle text-success"></i> 18 mois d'accompagnement</li>
                    </ul>
                    <a href="#" class="btn btn-primary mx-2 small-btn">Télécharger le cahier des charges</a>
                    <a href="#" class="btn btn-success mx-2 small-btn">Postuler</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>