body {
    font-family: 'Roboto', sans-serif;
}

.info-bar {
    background:  linear-gradient(to bottom, #292E95, #257cda);
    color: white;
    padding: 10px 20px;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-item i {
    margin-right: 5px;
    color: #ffffff;
}

.social-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.social-icon i {
    color: #007bff;
}

.info-item .fa-caret-down {
    margin-left: 5px;
}
.social-icon a:hover i {
    color: blue;
}
 /* Styles for the "Meet us" link */
 .meet-us-link {
    color: white;
    text-decoration: none;
}

.meet-us-link:hover {
    color: rgb(228, 228, 236);
    text-decoration: none;

}
.a{
    color: rgb(253 253 253);
}